---
title: "Mycelial Controller"
layout: default
---
<!-- https://hacks.mozilla.org/2012/08/remote-debugging-on-firefox-for-android/ -->

{% include code/init.html%}

{% include code/statemachine.html %}

{% include code/setup_client.html client="sms" %}

<div class="container">
    <div class="row">
    <div class="col-md-12">
        <iframe src="index.html" width="100%" height="200">
            alternative content for browsers which do not support iframe.
        </iframe>
    </div>
      </div>
      <div class="row">
    <div class="col-md-12">
        {% for hash in site.data.controller %}
        {% assign state = hash[0] %}
        {% assign msg   = hash[1] %}
        <div class="row" style="margin-top: 30px;">
            <button id="{{state}}-B" type="button" class="btn btn-primary btn-block" >{{msg}}</button>
          </div>    
      {% endfor %}  
    </div>
  </div>
</div>


<script>
  {% for hash in site.data.controller %}
    {% assign state = hash[0] %}
    {% assign msg   = hash[1] %}
    function {{state}}(e) {
    console.log("{{state}}");
    update_state_server("{{state}}"); 
  }
  $("#{{state}}-B").on("click", function(e) { 
    {{state}}(e);
  });
  {% endfor %}
  
  </script>
  