<script>
    // https://stackoverflow.com/questions/4738595/how-do-i-delay-a-function-call-for-5-seconds
    bw_color_cycle = ["#FFFFFF", "#000000"];
    bw_color_ptr = 0;

    function bwFlash() {
      // https://stackoverflow.com/questions/4550505/getting-a-random-value-from-a-javascript-array
      current_color = bw_color_cycle[bw_color_ptr];
      bw_color_ptr = (bw_color_ptr + 1) % 2;
      console.log("Fading to " + bw_color_ptr);
      $("body").css("background-color", current_color); 

      delay_time = 600 + (Math.floor(Math.random() * 400));
      if (bw_color_ptr == 0) {
        console.log("Long delay.");
        bwID{{include.state}} = setTimeout(bwFlash, {{include.delay}} * delay_time  * (Math.floor(Math.random() * 6)  + 5));
      } else {
        console.log("Short delay");
        bwID{{include.state}} = setTimeout(bwFlash, ({{include.delay}} * delay_time) + 0.4);
      }


    }
    
  
    bwID{{include.state}} = null;
  
    function onEnter{{include.state}} () {
      console.log("Called onEnter{{include.state}}");
    
      // Add a bit of randomness.
      bwFlash();
      
  
    }
    
    function onExit{{include.state}} () {
      // https://javascript.info/settimeout-setinterval
      console.log("Calling onExit{{include.state}}");
      clearTimeout(bwID{{include.state}});
    }
    
    </script>
    <style>
      .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */
    
      display: flex;
      align-items: center;
    }
    
    </style>
    <div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >
    </div>
  