<script>
    function onEnter{{include.state}} () {
      
        console.log("Called onEnter{{include.state}}");
        $("body").css("background-color", "#000000"); 

        // Disabling nosleep
        noSleep.disable();
    }

    function onExit{{include.state}} () {
        console.log("Called onExit{{include.state}}");
    }
</script>

<div id="{{include.state}}" class="invisible d-flex justify-content-center h-100 w-100 vertical-center">

</div>


