
<script>
</script>

<script>
   
    function onEnter{{include.state}} () {
      console.log("Called onEnter{{include.state}}");
      {% include code/move_to_top.js %}
    }
    
    function onExit{{include.state}} () {
      console.log("Called onExit{{include.state}}");
    }
    
    </script>

<div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >

    <input type="file" accept="image/*;capture=camera">


    <div id="screenshot" style="text-align:center;">
        <video class="videostream" autoplay></video>
        <img id="screenshot-img">
        <p><button class="capture-button">Capture video</button>
        <p><button id="screenshot-button" disabled>Take screenshot</button></p>
      </div>
      
      
    <video autoplay></video>
    <img src="">
    <canvas style="display:none;"></canvas>

</div>
  