<!-- This is abstracted over the include.state -->
<!-- That means that it will work for most any question... -->
<script>  
    function onEnter{{include.state}} () {
      console.log("Managed to call onEnter{{include.state}}.");

      // Pieces are args, in an array. It will depend on what each function
      // wants to do in order to determine how we use those args.
      $("body").css("background-color", "{{include.color}}"); 
      
      $("#{{include.state}}").removeClass("invisible");
         $("#{{include.state}}").addClass("visible");
         // $("#{{include.state}}").slideToggle();
         $("#{{include.state}}").animate({ top: 0 });
         $("#{{include.state}}").css({position : "absolute", top : 0});
     }
 
   </script>
   
   <div id="{{include.state}}" class="invisible">
      
   </div>