<script>
    function onEnter{{include.state}} () {
      
        console.log("Called onEnter{{include.state}}");
        console.log("Setting background color to {{site.data.text_questions[include.state].background-color}}");

        {% if {{site.data.text_questions[include.state].background-color}} %}
            $("body").css("background-color", "{{site.data.text_questions[include.state].background-color}}"); 
        {% else %}
            $("body").css("background-color", "white"); 
        {% endif %}

        {% include code/move_to_top.js %}

        bong.play(100);
    }

    function {{include.state}} (evt) {
        console.log("keycode:" + evt.code);
        console.log(evt);

        if (evt.key === "Enter" || evt.charCode === 13) {
            console.log("Sending text message.")
            send_text_message("{{include.state}}", $("#{{include.state}}-text").val());
            goto_next_from("{{include.state}}");
        }
    }

    function onExit{{include.state}} () {
        console.log("Called onExit{{include.state}}");
    }
</script>

<div id="{{include.state}}" class="invisible d-flex justify-content-center h-100 w-100 vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-2 d-flex justify-content-center">
                <h2 style="color: {{site.data.text_questions[include.state].color}}">
                    {{site.data.text_questions[include.state].question}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-2 d-flex justify-content-center">
                <input type="text" 
                id="{{include.state}}-text" 
                onkeypress="javascript:{{include.state}}(event);" 
                /> 
            </div>
        </div>
        <div class="row">
                <div class="col-md-6 offset-md-2 d-flex justify-content-center">
                  <small>Press enter or return to finish your entry.</small>
                </div>
            </div>
    </div>    
</div>