<script>

    function input_name (evt) {
        // console.log("keycode:" + evt.code);
        // console.log(evt);

        if (evt.key === "Enter") {
            send_text_message("name", $("#name").val());
            goto_next_from("NAME");
        }
    }
</script>

<div id="NAME" class="invisible">
    What name do you want to be known by?
    <input type="text" id="name" onkeypress="javascript:input_name(event);" /> 
</div>