<script>

  function introduce (evt) {
        // console.log("keycode:" + evt.code);
        // console.log(evt);

        if (evt.key === "Enter") {
                send_text_message("introduce", $("#introduce").val());
                goto_next_from("INTRODUCE");
        }

        }
</script>

<div id="INTRODUCE" class="invisible">
        Send a message to introduce yourself to the community.
        <input type="text" id="introduce" onkeypress="javascript:introduce(event);" /> 
</div>