<!-- This is abstracted over the include.state -->
<!-- That means that it will work for most any question... -->
<script>  
   function onEnter{{include.state}} () {
        console.log("Called onEnter{{include.state}}");
        console.log("Setting background color to {{site.data.multiple_choice[include.state].background-color}}");

        {% if {{site.data.multiple_choice[include.state].background-color}} %}
            $("body").css("background-color", "{{site.data.multiple_choice[include.state].background-color}}"); 
        {% else %}
            $("body").css("background-color", "white"); 
        {% endif %}

        $("#{{include.state}}").removeClass("invisible");
        $("#{{include.state}}").addClass("visible");
        // $("#{{include.state}}").slideToggle();
        $("#{{include.state}}").animate({ top: 0 });
        $("#{{include.state}}").css({position : "absolute", top : 0});

        bong.play(100);
    }

    function {{include.state}} (tag) {
          // console.log("keycode:" + evt.code);
          // console.log(evt);
          console.log("Sending {{include.state}}: " + tag);

          send_text_message("{{include.state}}", tag);
          goto_next_from("{{include.state}}");  
          // Cancel the following of the HREF.
          return false;
      }

  </script>
  
<div id="{{include.state}}" class="invisible d-flex justify-content-center h-100 w-100 vertical-center">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-2  d-flex justify-content-center">
                        <h2>{{site.data.multiple_choice[include.state].question}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-2 d-flex justify-content-center">
                        <ul class="list-group list-group-flush">
                            {% for tag in site.data.multiple_choice[include.state].answers %}
                                {% assign emotion = tag | split: "|" | first %}
                                {% assign color = tag | split: "|" | last %}
                            <li class="list-group-item {{color}}"> <a href="#" id="{{include.state}}-{{emotion | remove: ' ' }}"
                                    onclick="return {{include.state}}('{{emotion}}')" >{{emotion}}</a></li>
                          {% endfor %}
                        </ul>
                
                    </div>
                </div>
            </div>    
        </div>
    </div>
        