<script>
  var noSleep = new NoSleep();

  function enableNoSleep() {
    
    noSleep.enable();
    document.removeEventListener('click', enableNoSleep, false);
    vibrate();
    
    // goto_next_from("THESTART");
    //return false;

    // Find out where we are, and go there.
    var message = new Paho.MQTT.Message("WHEREAMI|" + whoami);
    message.destinationName = "state";
    console.log("Sending out WHEREAMI");
    clients["state"].send(message);
    bong.play(0);

  }

  
</script>

<div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >
    <h1>
        <a href="#" onclick="return enableNoSleep();">Click to Begin</a>
    </h1>
</div>

