<!-- This is abstracted over the include.state -->
<!-- That means that it will work for most any question... -->
<script>  
    promptID{{include.state}} = null;

    function onEnter{{include.state}} () {
      console.log("Called onEnter{{include.state}}.");

      // window.navigator.vibrate([100,30,100,30,100,30,200,30,200,30,200,30,100,30,100,30,100]);
      vibrate();
      
      // Pieces are args, in an array. It will depend on what each function
      // wants to do in order to determine how we use those args.
      if ("{{site.data.prompts[include.state].backgroundcolor}}" === "AFFINITY") {
        $("body").css("background-color", random_show_color()); 
      } else {
        $("body").css("background-color", "{{site.data.prompts[include.state].backgroundcolor}}"); 
      }
      
      {% include code/move_to_top.js %}

      if ({{include.timeout}} === 0) {
        // Don't autoadvance.
      } else {
        promptID{{include.state}} = setTimeout(function () {
        goto_next_from("{{include.state}}");
       }, {{include.timeout}} *  1000);
      }
       
     }

     function onExit{{include.state}} () {
      console.log("Called onExit{{include.state}}.");
      if (promptID{{include.state}} !== null) {
        clearTimeout(promptID{{include.state}});
      }
     }
 
   </script>
   
   <div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >
      <h1 id="{{include.state}}-h1" style="color: {{site.data.prompts[include.state].color}}">{{site.data.prompts[include.state].prompt}}</h1>
   </div>