<script>
  // https://stackoverflow.com/questions/4738595/how-do-i-delay-a-function-call-for-5-seconds

  function random_show_color() {
    var a_color = show_colors[Math.floor(Math.random() * show_colors.length)];
    return a_color;
  }

  function fadeBackground() {
    // https://stackoverflow.com/questions/4550505/getting-a-random-value-from-a-javascript-array
    var a_color = show_colors[Math.floor(Math.random() * show_colors.length)];
    console.log("Fading to " + a_color);
    $("body").css("background-color", a_color); 
  }
  

  fadeID = null;

  function onEnter{{include.state}} () {
    console.log("Called onEnter{{include.state}}");
  
    // In interval minutes, play two more bongs
    fadeBackground();
    fadeID = setInterval(fadeBackground, {{include.delay}} * 1000);

  }
  
  function onExit{{include.state}} () {
    // https://javascript.info/settimeout-setinterval
    console.log("Calling onExit{{include.state}}");
    clearTimeout(fadeID);
  }
  
  </script>
  <style>
    .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  
  </style>
  <div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >
  </div>
