<!-- This is abstracted over the include.state -->
<!-- That means that it will work for most any question... -->
<script>  
    function onEnter{{include.state}} (pieces) {
      console.log("Managed to call onEnter{{include.state}}.");

      // Pieces are args, in an array. It will depend on what each function
      // wants to do in order to determine how we use those args.
      $("body").css("background-color", pieces[0]); 
      $("#{{include.state}}").removeClass("invisible")
     }
 
   </script>
   
   <div id="{{include.state}}" class="invisible">
      <h1>asdf asdf {{include.message}}</h1>
   </div>