<!-- This is abstracted over the include.state -->
<!-- That means that it will work for most any question... -->
<script>  
  shroomID{{include.state}} = null;
  
    function onEnter{{include.state}} () {
      console.log("Called onEnter{{include.state}}.");
      // window.navigator.vibrate([100,30,100,30,100,30,200,30,200,30,200,30,100,30,100,30,100]);

      // Pieces are args, in an array. It will depend on what each function
      // wants to do in order to determine how we use those args.
      if ("{{site.data.prompts[include.state].backgroundcolor}}" === "AFFINITY") {
        $("body").css("background-color", random_show_color()); 
      } else {
        $("body").css("background-color", "{{site.data.prompts[include.state].backgroundcolor}}"); 
      }
      
      {% include code/move_to_top.js %}

      if ({{include.timeout}} === 0) {
        // Don't autoadvance.
      } else {
        shroomID{{include.state}} = setTimeout(function () {
        goto_next_from("{{include.state}}");
       }, {{include.timeout}} *  1000);
      }
       
     }

     function onExit{{include.state}} () {
      console.log("Called onExit{{include.state}}.");
      clearTimeout(shroomID{{include.state}});
     }
 
   </script>
 
 <!-- https://stackoverflow.com/questions/18429620/css-background-size-cover-replacement-for-mobile-safari -->
   <style>
  #mushroom-images {

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;

  	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
   </style>
   <div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >
      
        <img src="images/{{include.state | downcase}}.jpg"" id="mushroom-images"/>
      
   </div>