<script>
  bongID = null;
  
  function onEnter{{include.state}} () {
    console.log("Called onEnter{{include.state}} ");

    $("body").css("background-color", random_show_color()); 
    
    // window.navigator.vibrate([100,30,100,30,100,30,200,30,200,30,200,30,100,30,100,30,100]);
    console.log("Called onEnter{{include.state}}");
    // http://www.orangefreesounds.com/meditation-bell-sound/
    // $('#START').append('<embed id="embed_player" src="sound/meditation-bell.mp3" autostart="true" hidden="true"></embed>');
    bong.play(100);
    
    {% include code/move_to_top.js %}

  }

  function onExit{{include.state}} () {

  }

</script>
<style>
  .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

</style>
<div id="{{include.state}}" class="d-flex justify-content-center h-100 w-100 vertical-center" >
    {% if include.minutes == 0 %}
      <h1>The show <br> will begin <br> shortly.</h1>
    {% else %}
      <h1>The show <br> will begin <br> in {{include.minutes}} minute{% if include.minutes > 1 %}s{% endif %}.</h1>
    {% endif %}
</div>