<html>
    <head>
        <!-- JAVASCRIPT -->
        <title>{{page.title}}</title>
        <script src="js/fingerprint2.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
        <script src="js/enums.js" type="text/javascript"></script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script src="js/popper.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="js/NoSleep.js" crossorigin="anonymous"></script>
        <script src="js/js.cookie.min.js"></script>

        <!-- http://qnimate.com/detect-shake-using-javascript/ -->

        <!-- CSS -->

        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
        <!-- Get a fingerprint for this user. -->
        <script>
            var whoami = "NOBODY";

            var getFingerprint = function () {
                return new Promise(function (resolve) {
                // https://github.com/Valve/fingerprintjs2
                new Fingerprint2().get(function (result, components) {
                    whoami = result;
                    console.log(result) // a hash, representing your device fingerprint
                    console.log(components) // an array of FP components
                    resolve();
                    });
                });
            };
            
            // https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
            function uuidv4() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
                }

            var fallbackFingerprint = function () {
                return new Promise (function (resolve) {
                    // https://github.com/js-cookie/js-cookie
                    if (Cookies.get("fingerprint")) {
                        console.log("Fingerprint stored in the cookie!");
                        whoami = Cookies.get("fingerprint");
                    }
                    if (whoami == "NOBODY") {
                       // We must be on an iDevice
                       whoami = "" + uuidv4();
                       console.log("Fallback fingerprint: " + whoami);
                       Cookies.set("fingerprint", whoami);
                    }
                    resolve();
                });
            };

            getFingerprint();
            fallbackFingerprint();
            
            



        </script>

    <div class="container">
        {{content}}      
    </div>
    

    </body>

</html>